src/main/mule/implementation/get-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="get:\(nationalID):uhub-sapi-project-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="nationalID">attributes.uriParams.'nationalID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    source: "Hospital1",
    caseID: "456464",
    caseType: "positive",
    firstName: "John",
    lastName: "Nixon",
    phone: "541-754-3010",
    email: "john@gmail.com",
    dateOfBirth: "1989-04-26",
    createDate: "1989-04-26",
    updateDate: "1989-04-26",
    nationalID: "209-49-6193",
    nationalIDType: "SSN",
    address: {
      streetAddress: "1600 Pennsylvania Avenue NW",
      city: "Washington",
      state: "DC",
      postal: "20500",
      country: "USA"
    }
  }, 
  {
    source: "Hospital1",
    caseID: "528293",
    caseType: "negative",
    firstName: "John",
    lastName: "Nixon",
    phone: "541-754-3010",
    email: "john@gmail.com",
    dateOfBirth: "1989-04-26",
    createDate: "1989-04-26",
    updateDate: "1989-04-26",
    nationalID: "209-49-6193",
    nationalIDType: "SSN",
    address: {
      streetAddress: "1600 Pennsylvania Avenue NW",
      city: "Washington",
      state: "DC",
      postal: "20500",
      country: "USA"
    }
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<ee:transform doc:name="Set correlationId And transactionId" doc:id="ae15ff09-ff8b-4730-a7a2-84c10063e4f4" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="6847d348-684f-4e93-ae30-18c0b8761cf1" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: "Started get covid case by national id flow"' />
		<set-variable value="#[attributes.uriParams.nationalID]" doc:name="Set nationalID" doc:id="5db85264-90ad-4920-b1b4-159db646825b" variableName="nationalID" />
		<db:select doc:name="Select Case by NationalID" doc:id="7a58beff-a009-465f-ba24-45d51e914913" config-ref="Database_Config" >
			<db:sql ><![CDATA[select case_id, source, case_type, first_name, last_name, phone, email, date_of_birth, national_id, national_id_type, street_address, city, state, postal, country, create_date, update_date from cvd_case_master where national_id = :national_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	national_id: vars.nationalID
}]]]></db:input-parameters>
		</db:select>
		<!-- [STUDIO:"End Log"]<logger level="INFO" doc:name="End Log" doc:id="aafc8c8a-87bd-44ad-a317-7c55fabb960e" message='transactionID: #[vars.transactionId&#93;&#93;, correlationID: #[vars.correlationId&#93;, message: Completed get covid case by national id flow, payload: #[payload&#93;"' /> [STUDIO] -->
		<!-- [STUDIO:"Set Not Found Response"]<ee:transform doc:name="Set Not Found Response" doc:id="41a35c5f-e674-4a9e-820e-781adb30df50" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
	"code": 404,
	"message": "Resource not found",
	"description": "The server has not found anything matching the Request-URI",
	"dateTime": now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	"transactionId": vars.transactionId
}&#93;&#93;></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[404&#93;&#93;></ee:set-variable>
			</ee:variables>
		</ee:transform> [STUDIO] -->
		<!-- [STUDIO:"Set Success Response"]<ee:transform doc:name="Set Success Response" doc:id="7fcb10ff-239a-49cb-b3f7-3a3749490fe6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
payload map (covidCase, indexOfCovidCase) -> {
	caseID: covidCase.case_id,
    source: covidCase.source,
    caseType: covidCase.case_type,
    firstName: covidCase.first_name,
    lastName: covidCase.last_name,
    phone: covidCase.phone,
    email: covidCase.email,
    dateOfBirth: covidCase.date_of_birth as String {format: "yyyy-MM-dd"},
    nationalID: covidCase.national_id,
    nationalIDType: covidCase.national_id_type,
    address: {
      streetAddress: covidCase.street_address,
      city: covidCase.city,
      state: covidCase.state,
      postal: covidCase.postal,
      country: covidCase.country
    },
    createDate: covidCase.create_date as String {format: "yyyy-MM-dd"},
    updateDate: covidCase.update_date as String {format: "yyyy-MM-dd"}
}&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform> [STUDIO] -->
		<choice doc:name="Choice" doc:id="0178d6fd-ea9a-4526-83de-22ad1382af1d" >
			<when expression="#[sizeOf(payload) &gt; 0]" >
				<ee:transform doc:name="Set Success Response" doc:id="13c341a6-a82d-4db0-8057-abfa316e1b7d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (covidCase, indexOfCovidCase) -> {
	caseID: covidCase.case_id,
    source: covidCase.source,
    caseType: covidCase.case_type,
    firstName: covidCase.first_name,
    lastName: covidCase.last_name,
    phone: covidCase.phone,
    email: covidCase.email,
    dateOfBirth: covidCase.date_of_birth as String {format: "yyyy-MM-dd"},
    nationalID: covidCase.national_id,
    nationalIDType: covidCase.national_id_type,
    address: {
      streetAddress: covidCase.street_address,
      city: covidCase.city,
      state: covidCase.state,
      postal: covidCase.postal,
      country: covidCase.country
    },
    createDate: covidCase.create_date as String {format: "yyyy-MM-dd"},
    updateDate: covidCase.update_date as String {format: "yyyy-MM-dd"}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Set Not Found Response" doc:id="85b2a8b5-0ef7-4ee4-8351-e837a3d06799" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"code": 404,
	"message": "Resource not found",
	"description": "The server has not found anything matching the Request-URI",
	"dateTime": now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	"transactionId": vars.transactionId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
    
</flow>
	</mule>
